.DS_Store
**/.DS_Store

**/node_modules
**/dist
**/images
**/test.*
**/.env
**/.vscode
clients/cardscan-python/main.py
clients/cardscan-python/images/


**/main.*
**/Main.*

## Swift
.build
Package.resolved