# cardscan-client

The official python client for the CardScan API

## Requirements.

Python 3.7+

## Installation & Usage

```bash
pip install cardscan-client
```

## Getting Started

Please follow the [installation procedure](#installation--usage) and then run the following:

```python
from cardscan_client.api_client import ApiClient
from cardscan_client.api.card_scan_api import CardScanApi
from cardscan_client.configuration import Configuration
from cardscan_client.exceptions import ApiException
from pprint import pprint

# Defining the host is optional and defaults to https://sandbox.cardscan.ai/v1
# See configuration.py for a list of all supported configuration parameters.
# configuration = Configuration(host="https://sandbox.cardscan.ai/v1")

# The client must configure the authentication and authorization parameters
# in accordance with the API server security policy.
# Examples for each auth method are provided below, use the example that
# satisfies your auth use case.

# Configure Bearer authorization: bearerAuth
configuration = Configuration(
    host=os.environ["HOST"],
    api_key=os.environ["API_KEY"],
)


async def main():
    # Enter a context with an instance of the API client
    async with ApiClient(configuration) as api_client:
        # Create an instance of the API class
        api_instance = CardScanApi(api_client)

        try:
            # Creates a new card
            api_response = await api_instance.get_access_token()

            print("The response of GetAccessToken->get_access_token:\n")
            pprint(api_response)
        except ApiException as e:
            print("Exception when calling GetAccessToken->get_access_token: %s\n" % e)


if __name__ == "__main__":
    import asyncio

    asyncio.run(main())

{{> common_README }}
